<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Premier League 2024 - 2025 - League {{ league_id }}</title>
    <link rel="stylesheet" href='../static/styles.css'>
</head>

<body>
    <header>
        <h1>Fantasy Premier League 2024 - 2025 - League {{ league_id }}</h1>
        <div class="menu">
            <a href="/week/{{ league_id }}">Weakly League</a>
            <span>Cup </span>
            <a href="/cup/1">1</a> | 
            <a href="/cup/2">2</a> | 
            <a href="/cup/3">3</a> | 
            <a href="/cup/4">4</a> | 
            <a href="/cup/5">5</a>
        </div>
    </header>
